# Логи
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

# Кэши
.firebase/
.npm
.idea/

# Временные данные
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.nyc_output
build

# Нод модули
node_modules/

# прочее
.env
ignore_img/
